@model IEnumerable<M1Assignment1.Models.Course>

@{
    ViewData["Title"] = "Index";
}
@section scripts
    {
    <script>

            function Details(CourseId) {
                $.get('@Url.Action("GetStudentsbyCourseview","Home")', { CourseId: CourseId },
                    function (data) {
                        $('.modal-body').html(data);
                    }
                );
                $("#myModal").modal("show");
            }
    </script>
}

    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CourseNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a id="Coursename" href="javascript:Details('@item.CourseId')">Students List</a> | 
                        <a asp-action="Edit" asp-route-id="@item.CourseId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CourseId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> Stundents List in Course</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

